[class^="icon-simulation-"], [class*="icon-simulation-"] {
  margin-right: 0.3rem;
}

.icon-simulation-error:before {
  content: url("https://sbdsefuat.vteximg.com.br/arquivos/icon-error.png");
}

.icon-simulation-warning:before {
  content: url("https://sbdsefuat.vteximg.com.br/arquivos/icon-warning.png");
}

.icon-simulation-warning-bg:before {
  content: url("https://sbdsefuat.vteximg.com.br/arquivos/icon-warning-bg.png");
}
