.summary-totalizers {
  .totalizers-list {
    tr.Discounts,
    tr.Items,
    tr.Shipping,
    tr.srp-summary-result {
      display: none !important;
      font-size: 12px;
      color: #999;
    }

    tr.Discounts.visible {
      display: flex !important;
    }
  }
}

.summary-cart-template-holder {
  height: auto !important;

  .cart {
    display: none !important;
  }

  .visible {
    display: block !important;
  }

  .description {
    .delivery-date-list {
      display: flex;
      flex-direction: column;

      .shipping-date {
        width: 100%;
        text-align: start;
      }
    }
  }
}

.summary-template-holder {
  .cart-links-bottom {
    .btn {
      margin: 0.30rem;
    }
  }

  .totalizers.summary-totalizers.cart-totalizers {
    & > div {
      display: none !important;
    }

    & > div.visible {
      display: block !important;
    }

    td.empty {
      display: table-cell !important;
    }

    td.monetary {
      margin-right: 0.5rem;
    }
  }
}

.payment-submit-wrap {
  button:nth-child(2) {
    display: none !important;
  }
}

.summary-coupon-wrap {
  display: none !important;
}

.orderform-template {
  .cart-template.mini-cart {
    .summary-template-holder {
      .summary>.summary-coupon-wrap, .summary-coupon-wrap>.summary-coupon {
        display: none !important;
      }
    }
  }
}

.payment-submit-wrap {
  button {
    display: none !important;
  }
}

.small-pack-disclaimer {
  margin-top: 1rem;
  color: red;
}
